<div class="card mb-3" style="max-width: 100%" *ngIf="star">
    <div class="row no-gutters">
      <div class="col-md-2 align-self-center mx-auto">
        <img [src]="star.portrait" class="card-img w-50 rounded-circle " alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{star.shortName}}</h5>
          <b>{{star.title}}</b><br>
          <b>{{star.totalRevenue}}</b>
          <i>{{star.hourlyRate.amount|currency:star.hourlyRate.currencyCode}}</i>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>
